

.vhod {

    margin: 10% 40%;
    width: 400px;
    

}
.text {
    margin-left: 20%;

}

.otpravit {
 background-color:blue      
}




.navbar-up {
    background-color: deepskyblue;
    height: 80px;
}


.a {
    color: rgb(255, 253, 253) !important;
    text-decoration: none
}

